<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }
  </style>
</head>
<body>
  <p>Dear {{name}},</p>

  <p>Here is/are the quotation(s) for your enquiry with cart ID: <strong>{{cart_id}}</strong>.</p>

  <p>{{reply}}</p>

  <p>Feel free to contact us for any questions or further assistance.</p>

  <p>Best regards,<br><strong>SHETH TRADING CORPORATION</strong></p>
  <img src="{{signatureUrl}}" alt="Signature" style="max-width:450px; margin-top:10px;" />
  <p>
    Note: This is a system generated message. For any further clarification, please contact us on call.

Disclaimer: Information contained and transmitted by this email is confidential and proprietary to Sheth Trading Corporation. Information contained is for use only by the recipients. If you are not the intended recipient, you are notified that dissemination or copying of this email or its contents therein is strictly prohibited; you are requested to delete this email immediately and notify the sender. Sheth Trading Corporation does not enter into any binding agreement with any party by e-mail. Any views expressed by an individual do not necessarily reflect the view of Sheth Trading Corporation. Sheth Trading Corporation is not responsible for the consequences of any actions taken on the basis of information provided. While this e-mail has been checked for all known viruses the addressee should also scan for viruses.

  </p>
</body>
</html>
